
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">    
    <div class="col-md-6 offset-md-3">
        <h1 class="text-info">@ViewBag.ErrorMessage</h1>
        <a asp-action="index" asp-controller="home">
            Click here to navigate to the home page
        </a>
    </div>
</div>

