@{
    ViewData["Title"] = "Customer Transaction Summary";
}

    <div class="row">
        <div class="col-md-5 offset-md-1 mt-3 mb-3">
            <div class="panel panel-default">
                <canvas id="currentYearSaleByMonthchart"></canvas>
            </div>
        </div>
        <div class="col-md-5 offset-md-1 mt-3 mb-3">
            <div class="panel panel-default">
                <canvas id="currentYearDueByMonthchart"></canvas>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/home-index.js"></script>
}
