@{
    ViewData["Title"] = "Customer Transactions";
}

@if (TempData["Message"] != null && TempData["Message"].ToString().Length > 0)
{
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="alert alert-@TempData["Status"].ToString() alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong id="message">@TempData["Message"].ToString()</strong>
            </div>
        </div>
    </div>
}

<div id="deleteMessage"></div>

<div class="row">
    <div class="col-md-10 offset-md-1 mt-3 mb-3">
        <div class="panel panel-default">
            <div class="panel-body form-inline">
                <div class="form-group mr-1">
                    <label for="firstName" class="sr-only">First Name</label>
                    <input name="firstName" id="firstName" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group mr-1">
                    <label for="lastName" class="sr-only">Last Name</label>
                    <input name="lastName" id="lastName" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group mr-1">
                    <label for="fullName" class="sr-only">Full Name</label>
                    <input name="fullName" id="fullName" class="form-control" placeholder="Full Name" />
                </div>
                <div class="form-group mr-1">
                    <label for="mobile" class="sr-only">Mobile</label>
                    <input name="mobile" id="mobile" class="form-control" placeholder="Mobile" />
                </div>
                <div class="form-group mr-1">
                    <label for="fromDate" class="sr-only">From Date</label>
                    <input type="date" name="fromDate" id="fromDate" class="form-control" placeholder="From Date" />
                </div>
                <div class="form-group">
                    <label for="toDate" class="sr-only">To Date</label>
                    <input type="date" name="toDate" id="toDate" class="form-control" placeholder="To Date" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ml-2 mr-2" name="submit" id="search" value="search" autofocus>Search</button>
                    <button type="submit" class="btn btn-dark" name="submit" id="clear" value="clear">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 mt-3">
        <table id="transaction-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Transaction Id
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Sold Amount
                    </th>
                    <th>
                        Received Amount
                    </th>
                    <th>
                        Date
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/transaction-index.js"></script>
    <script src="~/js/delete-confirmation.js"></script>
}
