@{
    ViewData["Title"] = "Customer Transaction Summary";
}

<div id="deleteMessage"></div>

<div class="row">
    <div class="col-md-10 offset-md-1 mt-3 mb-3">
        <div class="panel panel-default">
            <div class="panel-body form-inline">
                <div class="form-group mr-1">
                    <label for="fullName" class="sr-only">Full Name</label>
                    <input name="fullName" id="fullName" class="form-control" placeholder="Full Name" />
                </div>
                <div class="form-group mr-1">
                    <label for="mobile" class="sr-only">Mobile</label>
                    <input name="mobile" id="mobile" class="form-control" placeholder="Mobile" />
                </div>
                <div class="form-group mr-1">
                    <label for="email" class="sr-only">Email</label>
                    <input name="email" id="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group mr-1">
                    <label for="fromDate" class="sr-only">From Date</label>
                    <input type="date" name="fromDate" id="fromDate" class="form-control" placeholder="From Date" />
                </div>
                <div class="form-group">
                    <label for="toDate" class="sr-only">To Date</label>
                    <input type="date" name="toDate" id="toDate" class="form-control" placeholder="To Date" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ml-2 mr-2" name="submit" id="search" value="search" autofocus>Search</button>
                    <button type="submit" class="btn btn-dark" name="submit" id="clear" value="clear">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 mt-3">
        <table id="transaction-summary-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Customer Id
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Total Sold Amount
                    </th>
                    <th>
                        Total Received Amount
                    </th>
                    <th>
                        Total Due Amount
                    </th>
                    <th>
                        Total Amount
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/transaction-summary.js"></script>
}
